<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{pedidos/he_fo_ad::head}"></head>
    <body class="d-flex flex-column min-vh-100"> <!-- flex y min-vh-100 para que el body ocupe toda la altura -->
        <div th:insert="~{pedidos/he_fo_ad::header}"></div>

        <main class="flex-grow-1">
            <div class="container mt-4 my-5">
                <div class="row justify-content-center">
                    <div class="col-md-4 d-flex justify-content-end">
                        <!-- Cuadro con sombra y bordes ovalados -->
                        <div class="p-4 shadow-lg" style="border-radius: 20px; max-width: 400px;">
                            <h1>Editar Pedido</h1>
                            <form th:action="@{/pedidos}" th:object="${pedido}" method="post">
                                <input type="hidden" th:field="*{id}">
                                <div class="mb-3">
                                    <label for="cliente" class="form-label">Cliente</label>
                                    <input type="text" id="cliente" name="cliente" class="form-control" th:field="*{cliente}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="direccion" class="form-label">Dirección</label>
                                    <input type="text" id="direccion" name="direccion" class="form-control" th:field="*{direccion}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="pizza" class="form-label">Pizza</label>
                                    <select id="pizza" name="pizza" class="form-select" th:field="*{pizza.id}">
                                        <option th:each="pizza : ${pizzas}" th:value="${pizza.id}" th:text="${pizza.nombre}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-info"><i class="fa-regular fa-share-from-square"></i> Actualizar Pedido</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="~{pedidos/he_fo_ad::footer}"></div>
    </body>
</html>
