<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{pedidos/he_fo_ad::head}"></head>
    <body class="d-flex flex-column min-vh-100"> <!-- flex y min-vh-100 para que el body ocupe toda la altura -->
        <div th:insert="~{pedidos/he_fo_ad::header}"></div>

        <main class="flex-grow-1">
            <div class="container mt-4 my-5">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h1>Lista de Pedidos</h1>
                        <a th:href="@{/pedidos/nuevo}" class="btn btn-outline-info mb-3"><i class="fa-regular fa-bookmark"></i> Nuevo Pedido</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Dirección</th>
                                    <th>Fecha</th>
                                    <th>Pizza</th>
                                    <th>#</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pedido : ${pedidos}">
                                    <td th:text="${pedido.cliente}"></td>
                                    <td th:text="${pedido.direccion}"></td>
                                    <td th:text="${pedido.formattedFecha}"></td>
                                    <td th:text="${pedido.pizza.nombre}"></td>
                                    <td>
                                        <a th:href="@{/pedidos/editar/{id}(id=${pedido.id})}" class="btn btn-outline-warning btn-sm"><i class="fa-solid fa-pen"></i> Editar</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/pedidos/eliminar/{id}(id=${pedido.id})}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="~{pedidos/he_fo_ad::footer}"></div>
    </body>
</html>
